<div class="players">
  <h3>Player Profiles</h3>
  <section class="example">
  {{ag-grid gridOptions=playersPreview  width="400px"}}
  </section>
  <section class="more-info">
    <div class="profile">
      <h4>Details</h4>
      <ul class="info">
        <li>Name: <span>{{player.name}}</span></li>
        <li>Position: <span>{{player.position}}</span></li>
        <li>Number: <span>{{player.number}}</span></li>
        <li>Hometown: <span>{{player.hometown}}</span></li>
      </ul>
      <img src="/assets/images/{{player.short_name}}.jpeg" alt="{{player.name}}">
    </div>
  </section>
</div>
